[tool.poetry]
name = "armasec"
version = "0.11.2"
description = "Injectable FastAPI auth via OIDC"
authors = ["Omnivector Solutions <info@omnivector.solutions>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/omnivector-solutions/armasec"
documentation = "https://omnivector-solutions.github.io/armasec"

[tool.poetry.dependencies]
python = "^3.6.2"
python-jose = {extras = ["cryptography"], version = "^3.2"}
fastapi = "^0.68"
httpx = "^0"
snick = "^1.3"
py-buzz = "^3.1"

# These must be included as a main dependency for the pytest extension to work out of the box
respx = "^0"
pytest = "^6"
auto-name-enum = "^2"

[tool.poetry.dev-dependencies]
ipython = "^7"
pytest-freezegun = "^0.4.2"
asgi-lifespan = "^1.0.1"
pytest-asyncio = "^0"
pytest-random-order = "^1.0.4"
mypy = "^0"
isort = "^5"
pytest-sugar = "^0.9.4"
black = "^22"
python-dotenv = "^0.19"
pytest-cov = "^2"
uvicorn = "^0.15"
loguru = "^0.5.3"
Sphinx = "^4"
pyproject-flake8 = "^5"

[tool.poetry.plugins.pytest11]
pytest_armasec = "armasec.pytest_extension"

[tool.pytest.ini_options]
minversion = "6.0"
# Unfortunately, pytest-cov breaks when we add armasec.pytest_extension as a pytest plugin
# TODO: Figure out why this is and how to fix it
# addopts = "--random-order --cov=armasec --cov-report=term-missing --cov-fail-under=85"
addopts = "--random-order"
testpaths = ["tests"]

[[tool.mypy.overrides]]
module = [
    "jose",
    "buzz",
    "snick",
    "auto_name_enum",
]
ignore_missing_imports = true

[tool.black]
line-length = 100

[tool.isort]
line_length = 100
multi_line_output = 3
include_trailing_comma = true

[tool.flake8]
max-line-length = 100
max-complexity = 40

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
