name: 'publish_on_tag'

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

jobs:
  tests:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8.10
      - uses: Gr1N/setup-poetry@v7
      - name: login
        run: poetry config http-basic.pypi __token__ ${{ secrets.OMNIVECTOR_PYPI_TOKEN }}
      - name: build
        run: poetry build
      - name: publish
        run: poetry publish
